@mixin buttons{
    border:none;
    width:5em;
    height:2em;
    margin: 0.5em;
    color:#fff;
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto/1fr 1fr 1fr;

    &__link{
        grid-column: 3/4;
    }

    &__NewButton{
        @include buttons();
        background-color: rgb(126, 211, 33);
        margin: 2em 0;
    }

    &__contacts{
        grid-column: 1/4;
    }


}